.calendar {
  &__container-items{
    margin-bottom: 1rem;
  }
  &__period-container {
    padding: 4px;
    border: 2px solid #4176DB;
    border-radius: 7px;
    width: min-content;
  }
  &__period-button {
    width: 414px;
    height: 2rem;
    & label{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
    & .btn:active, .btn:focus, .btn:hover, .btn-check:checked+.btn-outline-primary{
      background-color: #4176DB;

    }
  }
  &__period-region {
    display: flex;
  }
  &__detail {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
  }
  &__activity {
    display: flex;
  }
  &__day {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 4px;
    border: 1px solid #4176DB;
    margin-right: 6px;
    font-size: 14px;
    &--coincidence {
      background-color: #4176DB;
      color: #fff;
    }
    &--choose {
      color: #4176DB;
      border: 1px solid #4176DB;
    }
  }

  &__item {
    width: 100%;
    padding: 10px;
    display: flex;
    margin-bottom: 1rem;
    font-size: 14px;
    border-radius: 8px;
    position: relative;
    color: #000000;
    & .form-select{
      border-radius: 15px;
      font-size: 14px;
    }
  }
  &__item-datalist{
    & strong{
      width: 114px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__fullcalendar-event {
    margin: auto;
    background-color: #ffffff;
  }
  &__leyend {
    min-width: 10px;
    margin-right: 8px;
    border-radius: 2px;
    &.blue {
      background-color: #4176DB;
    }
    &.grey {
      background-color: #737373;
    }
    &.black {
      background-color: #4A4A4A;
    }
  }
  &__leyend-description {
    width: 10px;
    height: 22px;
  }
  &__border {
    border: 1px solid transparent;
    &--blue {
      border: 1px solid #4176DB;
    }
    &--black {
      border: 1px solid #0a090a;
    }
    &--gray {
      border: 1px solid #87939e;
    }
    &--light-gray {
      border: 1px solid #dfdfdf;
    }
  }
  &__notification {
    min-width: 16px;
    width: 16px;
    padding: 0 5px;
    border-radius: 4px;
    height: 18px;
    margin-bottom: 4px;
    font-size: 13px;
    color: #fff;
    &.one {
      background-color: #bf047e;
    }
    &.two {
      background-color: #328c08;
    }
  }
  &__summary {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 2rem;
  }
  &__summary-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__fullcalendar-items {
    display: none;
  }
  #calendar:before {
    content: '';
  }
  &__outer-blue{
    background: transparent;
    width: 40px;
    height: 25px;
    border: 1px solid #4176DB;
    border-radius: 4px;
  }
  &__modal{
     display: none;
    position: absolute;
    z-index: 5;
    padding: 1rem;
    margin: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
  }
  &__modal-link{
    cursor: pointer;
    &.open{
      & + .calendar__modal{
        display: block;
      }
    }
  }
  &__modal-close{
    position: absolute;
    height: 24px;
    width: 24px;
    display: block;
    background-color: #4176DB;
    z-index: 1;
    right: -11px;
    top: -12px;
    border-radius: 50%;
  }
  &__period-region-item {
    display: flex;
    margin-left: 1.2rem;
    align-self: flex-end;
    margin-left: 3rem;
  }
  &__period{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8rem;
  }
  &__button{
    font-size: 14px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .calendar {
    &__summary-item {
      flex-direction: column;
    }
    &__period-container{
      margin-bottom: 1rem;
    }
    &__activity {
      flex-direction: column;
    }
    &__datepicker {
      width: 100%;
      min-width: 100%;
      & table{
          width: 100%;
      }
    }
    &__detail {
      flex-direction: column-reverse;
    }
    &__detail-date {
      margin-bottom: 1.5rem;
    }
    &__day-selected {
      font-family: 'Circular Std Bold';
    }
    &__period-container{
      width: 100%;
    }
    &__period-button{
      width: 100%;
    }
    &__period-region {
      flex-direction: column;
      margin-bottom: 1rem;
    }
    &__period{
      
      flex-direction: column;
    }
    &__period-region-item {
      margin-left: 0;
      align-self: auto;
      margin-bottom: 0.4rem;
    }
    &__summary-class {
      margin-bottom: 1.2rem;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}
