.header{
    &__icon-container{
        display: inline-flex;
        position: relative;
    }
    &__ico{
        display: block;
    }
    &__ico-active{
        position: relative;
        &:after{
            content: '';
            width: 1rem;
            height: 1rem;
            position: absolute;
            background: #009AD8;
            border-radius: 50%;
            z-index: 99;
            top: -6px;
            right: -4px;
        }
    }
}