.calendar__container-items {
  margin-bottom: 1rem;
}

.calendar__period-container {
  padding: 4px;
  border: 2px solid #4176DB;
  border-radius: 7px;
  width: min-content;
}

.calendar__period-button {
  width: 414px;
  height: 2rem;
}

.calendar__period-button label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.calendar__period-button .btn:active, .calendar__period-button .btn:focus, .calendar__period-button .btn:hover, .calendar__period-button .btn-check:checked + .btn-outline-primary {
  background-color: #4176DB;
}

.calendar__period-region {
  display: flex;
}

.calendar__detail {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.calendar__activity {
  display: flex;
}

.calendar__day {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid #4176DB;
  margin-right: 6px;
  font-size: 14px;
}

.calendar__day--coincidence {
  background-color: #4176DB;
  color: #fff;
}

.calendar__day--choose {
  color: #4176DB;
  border: 1px solid #4176DB;
}

.calendar__item {
  width: 100%;
  padding: 10px;
  display: flex;
  margin-bottom: 1rem;
  font-size: 14px;
  border-radius: 8px;
  position: relative;
  color: #000000;
}

.calendar__item .form-select {
  border-radius: 15px;
  font-size: 14px;
}

.calendar__item-datalist strong {
  width: 114px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.calendar__fullcalendar-event {
  margin: auto;
  background-color: #ffffff;
}

.calendar__leyend {
  min-width: 10px;
  margin-right: 8px;
  border-radius: 2px;
}

.calendar__leyend.blue {
  background-color: #4176DB;
}

.calendar__leyend.grey {
  background-color: #737373;
}

.calendar__leyend.black {
  background-color: #4A4A4A;
}

.calendar__leyend-description {
  width: 10px;
  height: 22px;
}

.calendar__border {
  border: 1px solid transparent;
}

.calendar__border--blue {
  border: 1px solid #4176DB;
}

.calendar__border--black {
  border: 1px solid #0a090a;
}

.calendar__border--gray {
  border: 1px solid #87939e;
}

.calendar__border--light-gray {
  border: 1px solid #dfdfdf;
}

.calendar__notification {
  min-width: 16px;
  width: 16px;
  padding: 0 5px;
  border-radius: 4px;
  height: 18px;
  margin-bottom: 4px;
  font-size: 13px;
  color: #fff;
}

.calendar__notification.one {
  background-color: #bf047e;
}

.calendar__notification.two {
  background-color: #328c08;
}

.calendar__summary {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.calendar__summary-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calendar__fullcalendar-items {
  display: none;
}

.calendar #calendar:before {
  content: '';
}

.calendar__outer-blue {
  background: transparent;
  width: 40px;
  height: 25px;
  border: 1px solid #4176DB;
  border-radius: 4px;
}

.calendar__modal {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 1rem;
  margin: 0;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

.calendar__modal-link {
  cursor: pointer;
}

.calendar__modal-link.open + .calendar__modal {
  display: block;
}

.calendar__modal-close {
  position: absolute;
  height: 24px;
  width: 24px;
  display: block;
  background-color: #4176DB;
  z-index: 1;
  right: -11px;
  top: -12px;
  border-radius: 50%;
}

.calendar__period-region-item {
  display: flex;
  margin-left: 1.2rem;
  align-self: flex-end;
  margin-left: 3rem;
}

.calendar__period {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.calendar__button {
  font-size: 14px;
  width: 100%;
}

@media (max-width: 768px) {
  .calendar__summary-item {
    flex-direction: column;
  }
  .calendar__period-container {
    margin-bottom: 1rem;
  }
  .calendar__activity {
    flex-direction: column;
  }
  .calendar__datepicker {
    width: 100%;
    min-width: 100%;
  }
  .calendar__datepicker table {
    width: 100%;
  }
  .calendar__detail {
    flex-direction: column-reverse;
  }
  .calendar__detail-date {
    margin-bottom: 1.5rem;
  }
  .calendar__day-selected {
    font-family: 'Circular Std Bold';
  }
  .calendar__period-container {
    width: 100%;
  }
  .calendar__period-button {
    width: 100%;
  }
  .calendar__period-region {
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .calendar__period {
    flex-direction: column;
  }
  .calendar__period-region-item {
    margin-left: 0;
    align-self: auto;
    margin-bottom: 0.4rem;
  }
  .calendar__summary-class {
    margin-bottom: 1.2rem;
  }
  .calendar__summary-class:last-child {
    margin-bottom: 0;
  }
}
