.item-activity {
  &__disable{
    opacity: 0.5;
  }
  &__container{
    display: flex;
    padding: 0;
    position: relative;
    & .form-check{
      padding-right: 1rem;
    }
    & input {
      width: 24px;
      height: 24px;
    }
  }
  &__ico {
    &--trash {
      &:before {
        background-image: url(../../images/trash.svg);
        content: "";
        width: 14px;
        height: 14px;
        background-size: cover;
        margin-right: 10px;
      }
      &:hover, &:focus, &:active {
        &:before {
          color: #fff;
          background-image: url(../../images/trash-white.svg);
        }

      }
    }
    &--plus {
      margin-right: 20px;
      position: relative;
      &:before {
        background-image: url(../../images/plus-circle.svg);
        content: "";
        width: 14px;
        height: 14px;
        background-size: cover;
        bottom: 1px;
        position: absolute;
      }
    }
    &--alert {
      margin-right: 18px;
      position: relative;
      &:before {
        background-image: url(../../images/alert-grey.svg);
        content: "";
        width: 14px;
        height: 14px;
        background-size: cover;
        bottom: 1px;
        position: absolute;
      }
    }
    &--porcent {
      margin-right: 18px;
      position: relative;
      &:before {
        background-image: url(../../images/discount.svg);
        content: "";
        width: 14px;
        height: 14px;
        background-size: cover;
        margin-right: 10px;
        position: absolute;
        bottom: 0;
      }
    }
    &--porcent-disable{
      margin-left: 24px;
      position: relative;
      &:before {
        background-image: url(../../images/discount-grey.svg);
        content: "";
        width: 20px;
        height: 20px;
        background-size: cover;
        margin-left: -24px;
        position: absolute;
        bottom: 1px;
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__item-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__item-header {
    & span {
      // margin-bottom: 1rem;
      // margin-bottom: 4px;
      display: block;
    }
  }
  &__item-content {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p {
      padding: 0;
    }
  }
  &__item-img {
    margin: 0 1rem;
    margin-left: 0;
    width: 266px;
    min-width: 9rem;
    height: 150px;
  }
  &__item-body {
    font-weight: bold;
  }
  &__item-alert {
    color: #BD2626;
    font-size: 16px;
    display: block;
    margin-top: 1.2rem;
    padding-left: 1.6rem;
    margin-left: 2.5rem;
    position: relative;
    &:before {
      content: "";
      background-image: url(../../images/alert.svg);
      background-size: cover;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
    }
  }
  &__item-container {
    padding: 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #CBCBCB;
  }
  &__showmore {
    padding: 1.6rem 0;
    border-bottom: 1px solid #CBCBCB;
    margin-bottom: 1.6rem;
  }
  &__offer{
    margin-top: 1rem;
    color: #4A4A4A;
    font-size: 14px;
    line-height: 18px;
  }
  &__price{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: "Circular Std Bold";
    line-height: 23px;
    text-align: right;
    margin-bottom: 2rem;
    &--disable{
      text-decoration: line-through;
      color: #4A4A4A;
      font-family: "Circular Std Medium"; 
    }
  }
  &__inactive{
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #4A4A4A;
    margin-right: 0;
    margin-bottom: 2rem;
    &:before{
      bottom: 5px;
      margin-left: -1.2rem;
    }
  }
  &__lateral-price{
    display: flex;
    flex-direction: column;
  }
  &__button-container{
    display: flex;
    justify-content: space-between;
  }
  &__total-price{
    font-size: 24px;
    text-align: end;
    font-family: "Circular Std Book";
    margin-bottom: 1rem;
    & span{
      font-family: "Circular Std Bold";
    }
  }
}
@media (max-width: 768px) {
  .item-activity {
    &__item-img{
      padding: 0;
    }
    &__item-container{
      margin-bottom: 0;
      padding: 1.2rem 0;
  
    }
    &__subtitle h3 {
      font-size: 18px;
      line-height: 23px;
    }
    &__item-body {
      font-weight: 100;
    }
    &__item-header {
      span {
        font-size: 14px;
      }
    }
    &__container{
      & .form-check{
        padding-right: 1rem;
      }
    }
    &__item-img {
      margin-right: 0;
      margin-bottom: 12px;
      width: 100%;
      height: auto;
      max-height: 16rem;
    }
    &__item-content {
      margin-bottom: 1.2rem;
      // padding-left: 1rem;
    }
    &__item-block {
      flex-direction: column;
      width: 100%;
      align-items: stretch !important;
    }
    &__block-summary{
      flex-direction: column;
    }
    &__price{
      margin-bottom: 0;
    }
    &__price-container{
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
      & button{
        width: 10rem;
        padding: 0.4rem 1rem;
      }
    }
    &__inactive{
      margin-bottom: 1rem;
      padding-left: 1rem;
      &:before {
        top: 4px;
        bottom: 0;
      }
    }
    &__lateral-price{
      width: 100%;
      align-items: start;
      flex-direction: column;
      & button{
        align-self: start;
      }
    }
    &__total-price{
      font-size: 20px;
      display: flex;
      justify-content: space-between;
    }
    &__button-container{
      & button{
        width: auto;
      }
    }
  }
}
