.panel__one {
  display: flex;
  justify-content: space-between;
  position: relative;
}

zz
.panel__information {
  position: absolute;
  right: 0;
  background-color: #eff1f3;
  width: 27rem;
  padding: 2.5rem 3rem;
  top: 10%;
}

.panel__header {
  color: #4176db;
  font-size: 16px;
  display: block;
  margin-bottom: 0.5rem;
}

.panel__links {
  font-size: 14px;
  color: #000000;
  /* display: block; */
}

.panel__link-container {
  margin: 1.5rem 0;
  font-weight: 500;
}

.panel__description {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.panel__footer {
  padding-top: 1.2rem;
  border-top: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel__footer button {
  min-width: 122px;
  padding: 0.2rem 0.5rem;
}

.panel__video-panel {
  background-color: black;
  width: 922px;
}

.panel__video-panel video {
  width: 100%;
}

@media (max-width: 768px) {
  .panel__one {
    flex-direction: column;
  }
  .panel__information {
    position: relative;
    bottom: 0;
    top: auto;
    width: 100%;
    padding: 1.5rem 2rem;
  }
  .panel__video-panel.video {
    height: auto;
    margin: 0;
    position: relative;
    width: 100%;
  }
  .panel__video-panel video {
    height: 20rem;
  }
  .panel__footer button {
    width: auto;
    padding: 0.5rem;
  }
}
