.card-coruse__wrapper {
  font-size: 14px;
  line-height: 24px;
}

.card-coruse__title {
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  font-weight: 900;
}

.card-coruse__element {
  margin-bottom: 50px;
  max-width: 360px;
  min-width: 355px;
}

.card-coruse__img {
  margin-top: 25px;
  display: block;
  position: relative;
  font-size: 0;
  background-color: #009DDF;
  border-radius: 0;
  margin-bottom: 10px;
}

.card-coruse__label {
  background-color: #0FB158;
}

.card-coruse__link-container {
  margin: 10px -10px 0;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 20px;
}

.card-coruse__footer {
  padding: 12px 0;
  justify-content: space-between;
  border-top: 1px solid #000000;
}

.card-coruse__actions {
  display: flex;
  align-items: center;
}
