.down-arrow::after {
  content: "";
  background-image: url("../images/down-arrow-blue.svg");
  background-size: cover;
  width: 14px;
  height: 14px;
  position: absolute;
  margin-left: 6px;
}

.arrow-rotation::after {
  transform: rotate(180deg);
}

.form-select {
  font-weight: 900;
}

.toggle-link {
  display: none;
  margin: 1rem 0;
}

.sessions-mobile {
  display: none;
}

.daily-calendar-container {
  width: 100%;
  display: grid;
  grid-template-areas: "empty activity" "time  event" "time event";
  max-width: 1131px;
  margin: auto;
  grid-template-columns: auto 1fr;
}

.daily-calendar-container .empty {
  grid-area: empty;
  border-right: 2px solid #4176db;
  max-width: 60px;
}

.daily-calendar-container .time {
  grid-area: time;
  border-right: 2px solid #4176db;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60px;
}

.daily-calendar-container .time p {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0;
  padding-right: 2rem;
}

.daily-calendar-container .activities {
  grid-area: activity;
  display: flex;
  flex-direction: row;
}

.daily-calendar-container .events {
  grid-area: event;
  display: flex;
}

.toggle-link {
  cursor: pointer;
}

.calendar__modal-close {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  line-height: 20px;
}

.calendar__item .calendar__info {
  display: flex;
  flex-direction: column;
}
.calendar__item .calendar__info div p {
  margin: 0;
}
.calendar__item div p {
  margin: 0.45rem 0;
}
.calendar__item .calendar__info div .discount {
  color: #4176db;
}

.more-info {
  color: #000000 !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.session-time {
  color: #4176db;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 18px;
}

.session-places {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
}

.time-day-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13rem;
  max-width: 1131px;
  margin: 1.5rem auto;
}
.time-day-container div button {
  background-color: #d4d4d4;
  border-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.time-day-container .time-day-title {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
}
.time-day-container .time-day-subtitle {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 23px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .daily-calendar-container .activities {
    flex-direction: column !important;
  }
  .daily-calendar-container .events {
    display: none;
  }
  .daily-calendar-container .time {
    display: none;
  }
  .toggle-link {
    display: block;
  }
  .daily-calendar-container {
    grid-template-areas: "activity" "activity" "activity";
  }
  .sessions-mobile {
    display: block;
  }
}
