.typografy__one {
  font-size: 35px;
  font-weight: bold;
  color: #000000;
}

.typografy__two {
  font-size: 21px;
}

.typografy__three {
  font-size: 18px;
}

.typografy__four {
  font-size: 16px;
}

.typografy__five {
  font-size: 14px;
}

@media (max-width: 768px) {
  .typografy__one {
    font-size: 22px;
  }
  .typografy__two {
    font-size: 18px;
  }
  .typografy__three {
    font-size: 16px;
  }
  .typografy__four {
    font-size: 14px;
  }
}
