@font-face {
	font-family: "Circular Std Medium"; 
    src: url("../../fonts/CircularStd-Medium.eot?") format('eot'),
        url('../../fonts/CircularStd-Medium.woff') format('woff'), 
        url('../../fonts/CircularStd-Medium.ttf') format('truetype');
}
@font-face {
	font-family: "Circular Std Bold"; 
    src: url("../../fonts/CircularStd-Bold.eot?") format('eot'),
        url('../../fonts/CircularStd-Bold.woff') format('woff'), 
        url('../../fonts/CircularStd-Bold.ttf') format('truetype');
}
@font-face {
	font-family: "Circular Std Book"; 
    src: url("../../fonts/CircularStd-Book.eot?") format('eot'),
        url('../../fonts/CircularStd-Book.woff') format('woff'), 
        url('../../fonts/CircularStd-Book.ttf') format('truetype');
}
@font-face {
	font-family: "Circular Std Black"; 
    src: url("../../fonts/CircularStd-Black.eot?") format('eot'),
        url('../../fonts/CircularStd-Black.woff') format('woff'), 
        url('../../fonts/CircularStd-Black.ttf') format('truetype');
}

$Circular-Std-Medium: "Circular Std Medium";
$Circular-Std-Bold: "Circular Std Bold";
$Circular-Std-Book: "Circular Std Book";
$Circular-Std-Black: "Circular Std Black";


.circular-Std-Medium{
    font-family: $Circular-Std-Medium;
}
.circular-Std-Bold{
    font-family: $Circular-Std-Bold;
}
.circular-Std-Book{
    font-family: $Circular-Std-Book;
}

.circular-Std-Black{
    font-family: $Circular-Std-Black;
}