$grey-primary: #9B9B9B;
$grey-secundary: #CBCBCB;

$red: #BD2626;
$black: #000000;

.color-educaixa {
    color: #009DDF;
}
.color-educaixa-secundary {
    color: #4176DB;
}
.color-grayMedium{
    color: #4A4A4A;
}
.color-grayLight{
    color: #cbcbcb;
}
.color-gray{
    color: #4f4f4f;
}
.color-gray-primary{
    color: $grey-primary;
}
.color-gray-secundary{
    color: $grey-secundary;
}
.color-black {
    color: $black;
}